<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mortgage Calculator</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <nav class="nav-container">
            <div class="logo">Mortgage Calculator</div>
            <div class="nav-links">
                <a href="/" class="nav-link">Home</a>
                <a href="/mortgage/calculator" class="nav-link">Calculator</a>
                <a href="https://github.com/jaskarandeogan/mortgage-calculator" target="_blank" class="nav-link">Github</a>
            </div>
        </nav>
    </header>
    
    <main class="main-content">
        <%- body %>
    </main>
    <script src="/js/mortgageCalculator.js"></script>
</body>
</html>